<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <% @order.line_items.each do |line_item| %>
      <%= render partial: 'line_item', locals: { line_item: line_item } %>
    <% end %>

    <hr>

    <h3>Order Summary</h3>
    <p><strong>Final Amount:</strong> <%= humanized_money_with_symbol(@order.total_amount) %></p>
    <p><strong>Email Used:</strong> <%= @order.email %></p>
    <h4>Thank you for your order!</h4>
  </div>

  

