<h1>Edit Category</h1>

<%= form_with model: [:admin, @category], local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <%= form.submit 'Update Category', class: 'btn btn-primary' %>
<% end %>
